[user]
	name = Mattias Ahle
	email = mattias.ahle@gmail.com
[merge]
	log = true
[rebase]
	autoSquash = true
[pull]
	rebase = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --stat --decorate
	ls = "!git status; git --no-pager log --date=short --pretty='format:%C(auto)%h%d %s %Cgreen(%ae %cd)%Creset' -20; echo"
